.AUheading {
    font-family: 'Poppins', sans-serif; 
    color: #1F4E70; 
    font-weight: bolder;
    font-size: 4rem;
}
.text-info {
    font-size: 2rem;
}
p{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
}
.card {
    margin-top: 5%;
    margin-bottom: 5%;
    transition: all 0.2s ease;
    cursor: pointer
}
.card-text {
    text-align: center;
}
.card:hover {
box-shadow: 5px 6px 6px 2px #e9ecef;
transform: scale(1.1)
}
@media (min-width: 992px) {
    .AUheading {
        font-size: 6rem;
    }
}