.modal-header-custom h1{
    font-size: 1.25vw;
    font-weight: bold;
}

.modal-header-custom{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;
}
/*POP UP NEW USER*/
#bg_box{
    float: left;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    border-radius: 20px;
}
#blackbox{
    --gap: 15px;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.4);
    
}
#hiddenbox{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
}

.create-post{
    padding-left: 30%;
    padding-top: 2%;
}

.create-post label{
    font-size: 1vw;
}

.create-post ::placeholder{
    font-size: .7vw;
}
.create-post submit{
    font-size: 1vw;
}

