.AdminBody{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.AdminContainer{
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.5)),
    url(https://img.freepik.com/free-photo/woman-typing-keyboard-laptop-account-login-screen-working-office-table-background-safety-concepts-about-internet-use_2034-1339.jpg?size=626&ext=jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 30px;

}

.AdminGlass{
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    margin-top: 30px;
}

.AdminID{
    font-size: 30px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

.AdminLogo{
    text-align: center;
}

.AdminLP {
    margin-top: 70px;
}

.Adminmenu{
    list-style: none;
    display: flex;
    margin-bottom: 40px;

}

.Adminmenu li {
    text-align: center;
    margin-right: 50px;
}

.Adminmenu button {
    border: none; 
    background: none;
    font-size: 20px;
    font-weight: 900;
    color: #e5e5e5;
}

.Adminmenu button:hover {
    color:#275868;
}