.UA-bg {
    background-image: url(images/UA-background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: Brokenbrush;
    src: url(fonts/Brokenbrush.ttf);
}

@font-face {
    font-family: Astronauta;
    src: url(fonts/AstronautaScript.ttf);
}

.UA-h2 {
    color: antiquewhite;
    font-size: 7vw;
    font-family: Astronauta;
}

span {
    font-family: Brokenbrush;
    color: antiquewhite;
    font-size:8vw;
}

.UA-p {
    color: antiquewhite;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.UAbutton {
    border-radius: 15px;
}

.UA-button {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #1F4E70;
    font-size: 1rem;
    font-weight: 800;
}

.rounded {
    width: 30%;
    height: 40%;
}