.FAQpage {
    padding-top: 8%;
}

.FAQimage {
    height: 190px;
    min-width: 70px;
}

.FAQheading {
    color: #1F4E70; 
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;
    font-size: 3rem;
}

.accordion-item {
    margin: 0 auto;
    margin-top: 4%;
    width: 75%;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.144);
}

.FAQquestion {
    font-size: 1.9rem;
    font-weight: 500;
}

.FAQanswer {
    font-size: 1.7rem;
}

.accordion-header {
    font-size: 1.9rem;
}

.footer {
    margin-top: 5%;
    padding: 4% 2% 4% 2%;
    background-color: #B1D0E0;
    color: #1F4E70;
}

.FAQfooter-h1 {
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;
    font-size: 2.5rem;
    padding-bottom: 5px;
}

.FAQfooter-p {
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 1.8rem;
}

.btn {
    border-radius: 20px;
    margin-top: 1%;
    text-decoration: none;
    font-size: 1.7rem;
}

@media only screen and (max-width: 600px){
    .main {
        padding-top: 9%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px){
    .main {
        padding-top: 4%;
    }
}
