.container_custom{
    height: 100%;
    width: 100%;
    position: absolute;
}

.row_custom{
    height: 100%;
    position: inherit;
}

.left-column{
    background-color: #1F4E70;
    text-align: center;
    color: #ffffff;
    padding-top:10%;
    height: inherit;
}

.left-column a{
    color: #ffffff;
}

.right-column{
    background-color: #E5e5e5;
    text-align: center;
    color: #000000;
    padding-top:15%;
    height: inherit;
}

.mb-3_custom{
    width: 80%;
}

.form-width{
    width: 50%;
}

.form-padding{
    padding-left: 30%;
}

.form-text-email-padding{
    padding-right: 35%;
}

.form-text-password-padding{
    padding-right: 32%;
}

.text-button {
    padding-right: 4%;
}

.text-button a{
    text-decoration: none;
}

.forgot-password-text{
    padding-right: 4%;
}

.forgot-password-text a{
    color: #000000;

}

.button-custom-color{
    background-color: #1F4E70 !important;
}
.button-custom-color:hover{
    background-color: #0d6efd !important;
}
.back-custom-color:hover,.back-custom-color:hover a{
    color: #ffffff !important;
}
.back-custom-color:hover{
    background-color: #89b8ff !important;
    border-color: #89b8ff !important;
}