#newsfeed{
    background-color: #E5e5e5;
}
.custom-row-container{
    margin-top: 4%;
    z-index: -1;
}
.work-category-side{
    height: max-content;
    padding-left: 2%;
    font-size: .7vw;
    font-weight: bold;
}
.bg-light-custom{
    --bs-bg-opacity: 1;
    background-color: #b0c7cf;
}
.sticky-top{
    top: 8% !important;
    z-index: 0;
}
.newsfeed-side{
    width: 70%;
    padding-left: 9%;
}
.work-category-apply{
    font-size: .7vw;
    padding-top: 0%;
}
.create-post{
    padding: 2% 5% 0 5%;
}
#bg_box-nf{
    float: left;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    height: max-content;
    width: 30%;
    margin-top: 30px;
    border-radius: 5px;
    padding-bottom: 2%;
    margin-left: 1.8%;
}
#blackbox-nf{
    --gap: 15px;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.4);
}
#hiddenbox-nf{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
}
@keyframes fadebox{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
.modal-header-nf{
    padding: 3% 2% 2% 4%;
    border-bottom: 1px solid rgb(241, 234, 234);
    background-color: rgb(174, 174, 175);
}
.modal-header-nf .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header-nf .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.add-post-content label{
    padding-left: 5%;
    font-size: .7vw;
}
.add-post-content p{
    font-size: .8vw;
}
.card-width{
    width: max-content;
    align-items: center;
    margin-left: 8%;
}
/* post result */
.main_post{
    font-size: 1vw;
    align-items: center;
    width: max-content;
    margin-bottom: 2%;
    padding: 2% 2.57% 2% 2.57%;
    background-color: #b0c7cf9f;
}
.post_titlebar{
    color: #ffffff;
    width: 100%;
    background-color: #1f4e70;
}
.post-description-container{
    height: 270px;
    width: 370px;
    background-color: #549cac;
    padding: 15px;
}
.userImage{
    height: 80px;
    width: 80px;
    /* testing lang to kung ano magiging itsura ng picture sa post, may function naman ata kayong gagamitin sa js 
    na mag ddisplay ng picture ng nag-post diba? kaya pede to iremove 'tong background-image anytime pag working na yon*/
    background-image: url("../images/franco-in-80px.jpg"); 
    background-color: #ffffff;
}
#result{
    margin-left: 8%;
}