.profileBody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.profileBody-container{
    color: #191919;
    min-height: 100vh;
    position: relative;
}

.profileBody-container{
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    position: relative;
    color: #191919;
}

.cover-pic-div{
    -webkit-box-align: center;
    align-items: center;
    background-color: #959595;
    color: #ebebeb;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: background-color .15s linear,height .65s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color .15s linear,height .65s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    height: 300px;
    margin-top: 57px;
}

#uploadBtn{
    height: 100px;
    width: 30%;
    position: absolute;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    color: #ffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.uploadingofcover{
    margin-top: 25px;
}

#file, #fileProfile{
    display: none;
}

#photoCover, #photoProfile{
    height: 100%;
    width: 100%;
}

.profilecontent{
    margin: -10% 4% 0 3%;
    max-width: 1760px;
    min-height: 101vh;
    position: absolute;
}

.profile-container{
    background-color: #ffff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgb(25 25 25 / 30%);
    flex-shrink: 0;
    width: 30rem;
    padding: 25px 30px;
    text-align: center;
    border: none;
}

.profile-pic-div{
    height: 200px;
    width: 200px;
    background-color: #959595;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
    -webkit-transition: margin-top .65s cubic-bezier(0.19, 1, 0.22, 1);
    transition: margin-top .65s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border: .1px solid #c7c2c2;
}

#uploadBtnProfile{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%); 
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    color: #ffff;
    line-height: 40px;
    font-size: 15px;
    cursor: pointer;
    display: none;
    margin-bottom: 0;
}

.profileName{
    margin: 10px;
}

.profile-name{
    font-size: 20px;
    font-weight: 600;
}

.switchBox{
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    width: 60%;
    display: inline-flex;
}

.switchBox{
    background-color: #e6e6e6;
    color: rgb(63, 63, 63);
}

.editprofilebtnicon{
    margin-right: 5px;
    margin-top: 2px;
}

.switch{
    position: relative;
    height: 18px;
}

.slider{
    position: absolute;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    transition: .4s;
    border-radius: 34px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider:before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 15px;
    bottom: 5px;
    background-color: #7c7c7c;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

#h4-status{
    position: relative;
    left: 6rem;
    top: 0rem;
    font-weight: bold;
}

.container_calendar{
    position: absolute;
    /* width: 100%;height: 100vh;*/
    color: #000;
    justify-content: center;
    align-items: center;
    top: 35rem;
    margin-top: 20px;
}

.calendar{
    width: 30rem;
    height: 35rem;
    background-color: #ffff;
    box-shadow: 0 3px 5px rgb(25 25 25 / 30%);
}

.month{
    width: 100%;
    height: 6rem;
    background-color: #0a95ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.month i{
    font-size: 2rem;
    cursor: pointer;
}

.month h1{
    font-size: 2.3rem;
    font-weight: bold;
    /* font-weight: 150; */
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    /* margin-bottom: 0.5rem; */
    margin-top: 1.5rem;
}

.month p{
    font-size: 1rem;
    margin-top: -1rem;
}

.weekdays{
    width: 100%;
    height: 3rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 20%);
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.3;
}

.days div{
    font-size: 1rem;
    margin-bottom: 2.5rem;
    width: calc(6.4rem / 1.5);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%);
    transition: background-color 0.2s;
}

.days div:hover:not(.today){
    background-color: #0a95ca;
    border: 0.1rem solid #777;
    cursor: pointer;
}

.prev-date, .next-date{
    opacity: 0.5;
}
  
.today{
    background-color: #0a95ca;
}

#location-profile{
    position: absolute;
    top: 75rem;
    /* right: 82.5rem; */
    box-shadow: 0 3px 5px rgb(25 25 25 / 30%);
}

.profilebuttons{
    padding-left: 20%;
    position: inherit;
}

.buttons-container{
    margin-left: 12%;
    position: inherit;
}

.editprofilebutton, .messageprofilebtn, .saveprofilebutton, .cancelprofilebutton{
    background-color: #1875ff;
    border-radius: 5px;

}

.cancelprofilebutton{
    background-color: #7c7c7c;
    color: #fff;
}

.inputCont{
    margin: 10px;
    width: 98%;
    /*border: none;*/
}

.profile-input{
    font-size: 16px;
}

.profileProjwrapper{
    background-color: #c5c5c5;
    padding: 15px;
    position: inherit;
    /* margin-left: 33.5rem; */
    /* margin-top: 12rem; */
    width: 70%;
    /* height: auto;*/
    float: left;
}

.card-title{
    font-size: 18px;
    text-align: center;
}

.card-body p{
    font-size: 10px;
}

.container-ratings{
    /* position: absolute; */
    height: 10rem;
    width: 22rem;
    border: 1px solid #afaeae;
    /* top: 34.6rem; */
    /* left: 93%; */
    text-align: center;
    margin-bottom: 15px;
    position: inherit;
}

#h3-ratings{
    padding: 10px;
    font-size: 18px;
}

.rating{
    display: flex;
    height: 2rem;
}

.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    align-items: center;
}

.rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 30px;
    color: #d3b554;
}

.rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: #1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
 
.rating input{
    display: none;
}

.eduAttainment{
    height: 30px;
}

.info-cont{
    /*position: relative; */
    height: 10rem;
    width: 22rem;
    border: 1px solid #afaeae;
    text-align: center;
    position: inherit;
}

.eduAttainment, .expertise, .contact-info{
    border: none;
}

.rightcont{
    display: flex;
    flex-direction: column;
    position: inherit;
    margin-left: 73%;
    left: 0;
    top: 0;
    min-height: 600px;
}



/*THIS IS THE POP UP*/
#bg_box-profile{
    position: fixed;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 40%;
    margin-left: 1rem;
    margin-top: 20rem;
    border-radius: 5px;
}
#blackbox{
    --gap: 15px;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.4);
}
#hiddenbox-profile{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
}
@keyframes fadebox{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
.modal-header-profile{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(241, 234, 234);
}
.modal-header-profile .title{
    font-size: 2rem;
    font-weight: bold;
}
.modal-header-profile .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    font-weight: bold;
}

.description-message-1 {
    position: absolute;
    padding-left: 2rem;
    font-size: 1.5rem;
    padding-top: 3rem;
}

.description-message-2 {
    position: absolute;
    padding-left: 7rem;
    font-size: 1.5rem;
    padding-top: 6rem;
}

.description-message-3{
    position: absolute;
    padding-left: 2rem;
    font-size: 1.5rem;
    padding-top: 10rem;
}
.description-message-4{
    position: absolute;
    padding-left: 16rem;
    font-size: 1.5rem;
    padding-top: 13rem;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 72%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .profilecontent{
        margin-top: -15%!important;
    }
    .buttons-container{
        position: absolute!important;
        margin-left: 1%!important;
    }
    .profilebuttons{
        padding-left: 30%;
        position: absolute;
    }
    .profile-button{
        gap: 0%!important;
    }
    .inputCont{
        width: 95%!important;
    }
    .profileProjwrapper{
        width: 65%!important;
        margin-left: 20px;
    }
    .rightcont{
        margin-left: -65%!important;
    }
    .col{
        width: 33%;
    }
}

@media only screen and (max-width: 950px) {
    .profilecontent{
        margin-top: -15%!important;
    }
    .profilebuttons{
        padding-left: 35%;
        position: absolute;
    }
    .row{
        display: flex;
    }
    .col{
        width: auto;
    }
    .container-ratings, .info-cont {
        height: 10rem;
        width: 16rem;
    }
    .rightcont{
        margin-left: -65%!important;
    }
    .profileProjwrapper{
        margin-right: 1rem;
    }
    .rating label{
        width: 40px;
    }
}

@media only screen and (max-width: 850px) {
    .inputCont{
        width: 80%!important;
    }
    .profile-button {
    gap: 0;
    margin-left: 35px;
    }

    .profileProjwrapper {
        width: 70%!important;
        margin-left: 80px;
        margin-top: 18%;
    }
    .rightcont{
        margin-left: 20%!important;
        margin-top: 22%;
        position: absolute;
    }
    .info-cont{
        margin-left: 130%!important;
    }
}

@media only screen and (max-width: 750px) {
    .inputCont{
        width: 80%!important;
    }

    .profileProjwrapper {
        width: 70%!important;
        margin-left: 80px;
        margin-top: 20%!important;
    }
    .rightcont{
        margin-left: 15%!important;
        margin-top: 26%;
        position: absolute;
    }
    .info-cont{
        margin-left: 40%!important;
    }
    .buttons-container{
        margin-left: 5%!important;
    }
}

@media only screen and (max-width:650px) {
    .profilecontent{
        margin-top: -20%!important;
        margin-left: 25%;
    }
    .container_calendar{
        margin-top: 40%!important;
    }
    .buttons-container{
        margin-top: 15%!important;
        margin-left: 1%!important;
    }
    .profilebuttons{
        padding-left: 10%!important;
        margin-top: 21%!important;
    }

    .inputCont{
        margin-left: -25px!important;
    }
    .rightcont{
        margin-left: 10%!important;
        margin-top: 22%!important;
    }
    #location-profile{
        margin-top: 35%!important;
    }
    .profileProjwrapper{
        margin-top: 125%!important;
        margin-left: 7%!important;
    }
}

@media only screen and (max-width:550px) {
    .profilecontent{
        margin-top: -20%!important;
        margin-left: 25%;
    }
    .container_calendar{
        margin-top: 40%!important;
    }
    .buttons-container{
        margin-top: 15%!important;
        margin-left: 1%!important;
    }
    .profilebuttons{
        padding-left: 10%!important;
        margin-top: 21%!important;
    }

    .inputCont{
        margin-left: -25px!important;
    }
    .rightcont{
        margin-left: 10%!important;
        margin-top: 22%!important;
    }
    #location-profile{
        margin-top: 35%!important;
    }
    .profileProjwrapper{
        margin-top: 130%!important;
        margin-left: 7%!important;
    }
}   