.regbody{
    font-family: 'Poppins', sans-serif;
}

.create{
    text-align: center;
    color: #ffff;
}


.welcome {
    text-align: center;
    color: #ffff;
    padding: 10px;
    bottom: 0%;
}

.already {
    text-align: center;
    color: #ffff;
    font-style: italic;
}

.fn, .ln, .mn, .cn, .ea, .ps, .Cps {
    width: 25rem;
    height: 30px;
}

#id, #Work{
    width: 38%;
    height: 30px;
}


#insertform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.textCont{
    text-align: left;
}

.customlabel{
    font-size: 18px;
    color: #ffff
    
}

.rightside {
    color:#000000;
    font-size: 18px;
    padding-left: 50px;
    margin-top: 15%;
}

.h-leftSide{
    background-color: #1F4E70;
    padding-bottom: 20px;
}

.h-rightSide{
    background-color: #E5E5E5;
    padding-bottom: 20px;
}

.h-row_custom{
    height: 100%;
}