.custom-navbar{
    background-color: #1F4E70;
}
.custom-navbar a{
    color: #ffffff;
    
}
.nav-link-custom{
    display: block;
    padding: 3% 4%;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-custom:hover{
    color:#ffffff !important; 
    font-size: 1.1em;
    background-color: #1d4764;
}
/*DASHBOARD BUTTONS*/
.vbtn{
    color: #333;
    background-color: #e5e5e5;
    border: none;
    text-transform: uppercase;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
.vbtn:hover{
    color:#617e91;
    text-align: center;
}
.dashboardButtons{
    text-align: center;
}
.container{
    padding: 30px 0 20px 0;
}
/*VERIFICATION BUTTONS*/
.btn{
    color: #fff;
    background-color: #1F4E70;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
}
.btn:hover{
    color: #A8BFCF ;
}
.btn_category{
    padding-top: 40px;
    text-align: center;
}
/*NEW USER CSS*/
.editbtn1{
    background-color: #339933;
    border: 20rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.editbtn2{
    background-color: #ff0000;
    border: 20rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.tables{
    padding: 40px;
}
table{
    border-collapse: collapse;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.2);
}
table th{
    text-align: left;
    padding: 4px 30px 4px 8px;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 65%;
    border: 1px solid #dddddd;
    font-size: 18px;
}
table td{
    border: 1px solid #dddddd;
    padding: 4px 8px;
    cursor: pointer;
}
.status{
    text-align: center;
}
table tr:nth-child(odd) td{
    background-color: #524e4e;
}
.table th tr td:nth-last-child(1),
.table th tr td:nth-last-child(1),
.table th tr td:nth-last-child(1)
{
    text-align: right;
}
.editbtn1:hover, .editbtn2:hover{
    color: #fff;
}
td span:hover{
    color: black;
}
/*JOB CATEGORY*/
.status_w{
    text-align: center;
}
.headings{
    width: 30%;
}
.heading_desc{
    width: 50%;
}
/*POP UP NEW USER*/
#bg_box{
    float: left;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    border-radius: 5px;
}
#blackbox{
    --gap: 15px;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.4);
}
#hiddenbox{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
}
@keyframes fadebox{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(241, 234, 234);
}
.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}